.portfolio-header{
text-align: center;
}
.portfolio-p1{
text-align: center;
}

.attlogo{
width:100px;
height:70px;
}
.revaturelogo{
width: 300px;
height:70px;
}
.iframe-resume{
display: flex;
justify-content: center;
}